body{
    background:linear-gradient(to bottom right,#fbf1d5,#ffae92);
    min-height:100vh;
    font-family:'Nunito';
    text-align:center;
    margin:0;
    padding:0;
    overflow-x:hidden;
    height:100%;
}

.container{
    max-width:960px;
    margin:auto;
    padding:20px;
}
.text-center{
    text-align:center;
}
h1{
    text-align:center;
    margin-bottom:10px;
}
.row{
    margin-bottom:30px;
}
.column{
    flex:1 1 300px;
    text-align:center;
}
.profile-img{
    width:150px;
    height:200px;
    margin-bottom:10px;
}
.custom-navbar{background:linear-gradient(90deg,#ffcbe1,#bcd8ec);}
.custom-navbar .navbar-nav .nav-link {color:#151b54;}

.custom-me-btn{
background-color:#ffe5e4;
color:#e0218a;
border-radius:10px;
padding:10px;
text-decoration:none;
}
.custom-me-btn:hover{
background-color:#ddf2d1;
}
.custom-friend-btn{
background-color:#d8f1f1;
color:#0041c2;
border-radius:10px;
padding:10px;
text-decoration:none;
}
.custom-friend-btn:hover{
background-color:#ddf2d1;
}
.mt-4{
    margin-top:1.5rem;
}
.mt-5{
    margin-top:3rem;
}